form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.create {
    padding: 2px 16px;
    height: 30px;
    line-height: 24px;
    margin: 0 0 0 6px;
    transition: opacity .2s linear;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
  padding: 2px 11px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: initial;
  box-sizing: border-box;
}
