.upload-container {
    background: linear-gradient(0.25turn, #ff9626, #e58a02, #f50);
    height: 58em;
}

.upload-subcontainer {
    position: relative;
    top: 2em;
    background-color: white;
    margin: auto;
    width: 75%;
    height: 65%;
    border-radius: 3px;
}

.upload-bottom-part {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 10px;
    margin: auto;
    background-color: #f2f2f2;
    width: 75%;
    height: 13%;
    border-radius: 3px;
}
