/* .entire-playlist-container {
    background-color: aqua;
} */

.playlist-top-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.create-playlist-button-container {
    display: flex;
    justify-content: center;
    padding-right: 25px;

}

.playlist-item-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3em;
    padding-right: 2.8em;
    /* min-height: 82vh; */
}

.playlist-container {
    padding: 1em;
}

.playlist-image {
    width: 15em;
    height: 15em;
}

@media only screen and (max-width: 1440px) {
    .screen-adjustment {
        /* background-color: aqua; */
        min-height: 59vh;
    }
}

@media only screen and (min-width: 1441px) {
    .screen-adjustment {
        /* background-color: red; */
        min-height: 75vh;
    }
}
