.required-field::before {
  content: "*";
  color: red;
  float: right;
}



.createSong {
  /* padding-top: 2px; */
  height: 28px;
  /* line-height: 24px; */
  align-items: center;
  background-color: #f50;
  border-color: #f50;
  color: white;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100%;
  text-align: center;
}

/* .createSong:hover {
} */



.button-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin {
  border: solid 5px #cfd0d1;
  border-bottom-color: #f50;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  position: relative;
  left: 20px;
  top: 13px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
}
