.required-field::before {
  content: "*";
  color: red;
  float: right;
}



.createSong {
  /* padding-top: 2px; */
  height: 26px;
  /* line-height: 24px; */
  align-items: center;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100%;
  text-align: center;
}
