.detail-container {
    width: 100%;
    margin: auto;
    background-color: white;
}

.album-background {
    background-color: grey;
    color: white;
    height: 360px;
}

.album-detail-title {
    border-radius: 1px;
    width: fit-content;
    font-weight: 100;
    /* font: 24px; */
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.title-holder {
    border: 0px;
    width: 25%;
}

.album-detail-name {
    border-radius: 1px;
    width: fit-content;
    font: 16px;
    font-weight: 100;
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.album-image-container {
    padding-top: 1.5em;
    padding-right: 1.5em;
    height: 26em;
}



.songInAlbums {
    padding-bottom: 5em;
}



.centered {
    justify-content: center;
}

td.centered {
    text-align: center;
}

.song-list-table {
    width: 65%;
    padding-left: 10.5em;
}

td {
    color: #999;

    border-bottom: 1px solid gray;
}

tr:hover {
    background-color: #f2f2f2;
    color: white;
}

.link-to-song {
    display: flex;
    align-items: flex-end;
}
