.detail-container {
    width: 100%;
    margin: auto;
    background-color: white;
}

.album-background {
    background-color: grey;
    color: white;
    height: 360px;
}

.album-detail-title {
    border-radius: 1px;
    width: fit-content;
    font-weight: 100;
    /* font: 24px; */
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.title-holder {
    border: 0px;
    width: 25%;
}

.album-detail-name {
    border-radius: 1px;
    width: fit-content;
    font: 16px;
    font-weight: 100;
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.album-image-container {
    padding-top: 1.5em;
    padding-right: 1.5em;
    height: 26em;
}

.songInAlbums {
    padding-bottom: 5em;
}

.centered {
    color: #333;
    padding-left: 6em;

}

.title-holder-lists {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.song-list-table {
    width: 50%;
    padding-left: 10.5em;
    /* background-color: green; */
}

.link-to-song {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    list-style: none;
}

.song-list-points {
    /* border: 5px red solid; */
    color: #999;
    list-style: none;
}

.song-list-points:hover {
    background-color: hsl(0, 0%, 94%);
}

/* .small-button {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease; */


/* .small-button:hover {
    display: flex;
} */
