.center {
    display: flex;
    justify-content: center;
    padding: 45px;
}

.titleTrending {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.github-containter {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 45px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    background-color: hsl(0, 0%, 94%);
}

.bottom-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 6em;
}

.thanks {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.bottom-signup {
    margin: auto;
}

.bottom-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
