.album-tiles {
    width: 13.2em;
    border-radius: 3px;
    background-size: contain;
    list-style-type: none;
    padding-left: 3.2em;
}

.album-container {
    display: flex;
    height: 350px;
    width: 100%;
    flex-direction: column;

}

.allAlbum-container {
    display: flex;
    height: 350px;
    width: 100%;
    flex-direction: column;
    min-height: 82vh;

}

.album-list {
    display: flex;
    justify-content: 'center';
    align-items: center;
    padding-left: 9px;

}

.album-container {
    overflow-x: auto;
    overflow-y: hidden;
    height: 280px;
    width: 100%;
}

.allSAtitles {
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #333;
    padding-left: 2em;

}

ul {
    margin: 0px;
    padding: 0px;
}

.overflow-title-div {
    width: 11em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.remove-line {
    text-decoration: none;
    color: #333;
}

.remove-line:hover {
    color: black;
}
