.album-upload {
    display: flex;
    margin: auto;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
