.signup {
  padding: 2px 16px;
  height: 30px;
  line-height: 24px;
  margin: 8px 0 0 6px;
  background: transparent;
  color: #fff;
  border-color: #ccc;
  padding: 2px 10px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.sign-in-form {
  width: 400px;
  height: 250px;
  border-radius: 7px;
}

.well {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;

}

.sign-in-button {

  height: 30px;
  line-height: 24px;
  margin-top: 10px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100%;

}

.inputs {
  display: contents;
  /* margin: 10px; */
}

.errors {
  color: red;
  list-style: none;
  /* padding-bottom: 10px; */
}
