/* TODO Add site wide styles */
html {

    background-color: hsl(0, 0%, 94%);
    width: 100%;
    height: 100%;
    /* margin: 0; */
}

.app {

    background-color: white;
    width: 88.5%;
    /* height: 100%; */
    /* min-height: 90vh; */
    margin: auto;
    /* padding-bottom: 1em; */
    font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

body {
    margin: 0px;
    width: 100%;
    height: 90%;


}

.allSongs {
    font-weight: 100;
    padding-left: 2em;
}

.border-top {
    border: 1px solid #f2f2f2;

}
