/* TODO Add site wide styles */
html {

    background-color: hsl(0, 0%, 94%);
    /* background-color: hsl(0, 7%, 95%); */
    /* height: max-content */
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* width: 100%; */
    height: 100vh;
}

.app {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    background-color: white;
    width: 90%;
    height: 100%;
    /* min-height: 500px; */
    min-height: 90vh;
    margin: auto;
    /* padding-bottom: 17.5em; */
    font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;


}

.allSongs {
    font-weight: 100;
    padding-left: 2em;
}
