.upload-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.no-albums-title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-words {
    font-size: 30px;
    color: #333;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

.curr-album-container {
    overflow: auto;
    overflow-x: visible;
    overflow-y: hidden;
    height: 280px;
    width: 100%;

}
