.detail-container {
    width: 100%;
    margin: auto;
    background-color: white;
}

.album-background {
    background-color: grey;
    color: white;
    height: 360px;
}

.album-detail-title {
    border-radius: 1px;
    width: fit-content;
    font-weight: 100;
    font: 24px;
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.title-holder {
    border: 0px;
    width: 25%;
}

.album-detail-name {
    border-radius: 1px;
    width: fit-content;
    font: 16px;
    font-weight: 100;
    margin: 5px;
    padding: 5px;
    background-color: black;
}

.album-image-container {
    padding-top: 1.5em;
    padding-right: 1.5em;
    height: 26em;
}
