.mainNav {
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #333;
  padding-right: 10px;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
  cursor: pointer;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #999;
  padding: 0px 2.5em;
}

nav a:hover {
  color: white;
  background-color: black;
}

nav a:visited {
  background-color: black;
}

.mainHeader {
  color: #999;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;



}

.navLogo {
  width: 50px;
  height: 23px;
  background-size: 115px 22px;
  padding: 10px;
}



.homepage-edit {
  height: auto;
}

.app-Container {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  margin-right: 10px;
}

.leftNav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  margin-top: 8px;
  right: 30px;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1em;
}

.logo {
  background-size: 115px 22px;
  background: url(https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg) no-repeat 12px 11px;
  background-size: 48px 22px;
  display: block;
  width: 2em;
  height: 46px;
  margin: 0;
  text-indent: -999em;
}

.logoWords {
  color: white;
  font-size: 17px;
  content: 'CloudSounds';
}

.topPart {
  color: #fff;
  width: 90%;
  border-top: 4px solid #f50;
  background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_c@2x-1265910e.jpg);
  background-size: 80em;
  height: 450px;
}


.profile-button {
  position: relative;
  background-color: #333;
  color: #999;
  border: 0;
  background: #333;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
}

.profile-button:hover {
  color: white;

  background-color: black;
}

.profileLi {
  color: #333;
}

.profileLi:hover {
  background-color: rgb(214, 214, 214);
}

.profile-dropdown-container {
  position: absolute;
  top: 49px;
  z-index: 1;
  right: 6.6%
    /* top: 0px;
  right: 0px;
  margin: 50px; */
}

.profile-dropdown {
  /* top: 49px;
  right: 96px; */

  border-color: '#f2f2f2';
  border-bottom: 1.5px solid #333;
  border-right: 1.5px solid #333;
  border-left: 1.5px solid #333;

  color: #333;
  background-color: white;
  border-radius: 3px;
  list-style-type: none;
  padding: 2px;
  /* border: 5px solid #999; */

}

.logOutButton {
  background-color: white;
  color: #333;
  border: 0;
  width: 100%;
  text-align: left;
  padding: 0;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;

}

.logOutButton:hover {
  background-color: rgb(214, 214, 214);

}
