.mainNav {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #333;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  /* line-height: 1.5; */
  cursor: pointer;

}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #999;
  padding: 0px 2.5em;
}

nav a:hover {
  color: white;
  background-color: black;
}

nav a:visited {
  background-color: black;
}

.mainHeader {
  color: #999;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

div.navLogo {
  display: block;
  position: fixed;
  top: 0px;
  left: 4px;
  background: url(https://a-v2.sndcdn.com/assets/images/peace-cloud-28ad0963.svg) no-repeat 12px 11px;
  margin: 0;
  height: 6%;
  width: 13%;
  background-size: 115px 22px;
  background-color: black;

}


.profile-button {
  background-color: #333;
  color: #999;
  border: 0;
  background: #333;
  font-family: Interstate, Lucida Grande, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.5;
}

.profile-button:hover {
  color: white;

  background-color: black;
}

.profile-button:visited {
  background-color: black;
}

.profile-dropdown {
  position: absolute;
  border-color: '#f2f2f2';
  border-bottom: 1px solid #333;
  right: 6em;
  color: #333;
  background-color: white;
  list-style-type: none;
  border: 2px, solid, #999;
}
